// Place all the styles related to the transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body, html {
  height: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}